/* Media query for 1390px (small laptops) */
@media (max-width: 87em) {
  .section-skills {
    padding: 9.6rem 4.8rem;
  }

  .grid {
    gap: 4.8rem;
  }

  .skill-cards {
    gap: 3.6rem;
  }

  .about-div {
    border-radius: 0;
  }

  .cta {
    border-radius: 0;
  }
}

@media (max-width: 77em) {
  html {
    font-size: 50%;
    /* font-size: 1rem; */
  }

  .hero {
    margin: 4.8rem;
  }

  .logo-anim.logo--anim-2 {
    display: block;
    margin: auto;
  }

  .logo-anim--57 {
    display: none;
  }

  /* .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .hidden-btn {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateX(0);
  } */

  /* .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  } */
}

@media (max-width: 62em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.5rem;
  }

  .nav-links {
    top: 8%;
  }
  .hero-subheading {
    font-size: 3rem;
  }

  .heading-secondary,
  .card-subheading,
  .project-subheading {
    font-size: 4.8rem;
  }

  .card-subheading--sm {
    font-size: 3.6rem;
  }

  .about-me--text,
  .card-text,
  .card-list--item,
  .tools,
  .project-desc,
  .cta-text {
    font-size: 3rem;
  }

  .project-languages .project-lang,
  .cta-label {
    font-size: 2.4rem;
  }

  .project {
    margin: 4.8rem;
  }

  .skill-cards {
    row-gap: 8rem;
  }

  .skill-card {
    margin: 0 9.6rem;
  }

  .project-languages {
    gap: 4.8rem;
    font-size: 1.6rem;
  }
  .tech-stack {
    gap: 3.4rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .skill-cards {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .card--design {
    grid-row: 2 / 3;
  }

  .card--deploy {
    grid-row: 3 / 4;
  }

  .about-img {
    margin: 0 auto;
  }

  .about-text {
    text-align: center;
  }

  .section-skills {
    padding: 9.6rem 2.4rem;
  }

  .grid {
    gap: 0.8rem;
  }

  .project {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }

  .project--text-div {
    text-align: center;
  }

  .project-languages {
    justify-content: center;
  }

  .project--img-div {
    grid-row: 1 / 2;
    margin: 0 auto;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .skill-card:last-child {
    margin-bottom: 12.8rem;
  }

  .about-img {
    margin-bottom: 4.8rem;
  }
}

@media (max-width: 56em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.5rem;
  }
  .nav-links {
    width: 75%;
    justify-content: center;
  }
}

@media (max-width: 42em) {
  html {
    font-size: 40%;
    /* font-size: 1.25rem; */
  }

  .nav-links {
    width: 100%;
    top: 6.5%;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem !important;
  }

  .logo-anim.logo--anim-2 {
    display: none;
  }

  .logo-anim.logo--anim-3 {
    display: block;
    margin: auto;
  }

  .cta {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .cta-img-box {
    grid-row: 1 / 2;
  }

  /* .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  } */
}

@media (max-width: 34em) {
  html {
    font-size: 30%;
    /* font-size: 1.5rem; */
  }

  .nav-links {
    width: 75%;
    top: 3.3% !important;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem !important;
  }

  .logo-anim.logo-anim.logo--anim-3 {
    display: none;
  }

  .logo-anim.logo--anim-4 {
    display: block;
    margin: auto;
  }

  .project-desc {
    margin-bottom: 4.8rem;
  }

  .project-languages {
    margin-bottom: 8rem;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 25%;
    /* font-size: 0.75rem; */
  }

  .logo-anim.logo--anim-4 {
    display: none;
  }

  .logo-anim.logo--anim-5 {
    display: block;
    margin: auto;
  }

  .main-nav-list {
    gap: 5rem;
  }

  .nav-links {
    justify-content: center;
    width: 100%;
    border-radius: 0;
    top: 6.5%;
    font-size: 1.8rem !important;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }
}

.no-flexbox-gap .nav-links:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .tech-stack:not(:last-child) {
  margin-right: 6.8rem;
}

.no-flexbox-gap .btn-div:not(:last-child) {
  margin-right: 4rem;
}

.no-flexbox-gap .card-list li:not(:last-child) {
  margin-bottom: 0.4rem;
}

.no-flexbox-gap .project-languages:not(:last-child) {
  margin-right: 2.4rem;
}

@media (max-width: 58em) {
  .no-flexbox-gap .project-languages:not(:last-child) {
    margin-right: 4.8rem;
  }
}

@media (max-width: 66em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
