/* 
FONT SIZE SYSTEM:
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Main Color #1c7ed6
Grey color #808080
Secondary color: #FFD700;

*/

/* *************************** */
/* Navigation */
/* *************************** */

.header {
  justify-content: center;
  align-items: center;
  background-color: #f1f3f5;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  overflow: visible;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 4.8rem;
  background-color: #ffffff;
  padding: 1.6rem 0;
  border-radius: 3rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -120%);
  /* opacity: 0;
  visibility: hidden; */
  transition: all 0.3s;
  z-index: 999;
}

.main-nav-link.contact-link:link,
.main-nav-link.contact-link:visited {
  background-color: #8ecaff;
  color: #fff;

  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.17); */
  transition: all 0.5s;
}

.contact-link.selected {
  background-color: #1c7ed6;
  color: #fff;
}

.main-nav-link.contact-link:hover,
.main-nav-link.contact-link:active {
  background-color: #1c7ed6;
}

.selected {
  background-color: #e9ecef;
  /* margin-left: -3.15rem; */
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.8rem;
  /* color: #555; */
  color: #777;
  transition: all 0.3s;
  padding: 1.6rem 1.8rem;
  border-radius: 3rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #000;
}

/* Sticky navigation */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 6rem;
}

/* *************************** */
/* Hero Section */
/* *************************** */

.section-hero {
  padding: 4.8rem 0 12.8rem 0;
  background-color: #f1f3f5;
}

.hero {
  background-color: #fff;
  padding: 6.4rem;
  border-radius: 3rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.hand-icon {
  height: 5.3rem;
  width: 5.7rem;
}

.logo--anim-2 {
  display: none;
}

.logo-anim.logo--anim-3 {
  display: none;
}

.logo-anim.logo--anim-4 {
  display: none;
}

.logo-anim.logo--anim-5 {
  display: none;
}

.logo-anim:last-child {
  display: none;
}

.logo-anim {
  animation: fill 0.5s ease forwards 7s;
}

.logo-anim path:nth-child(21) {
  stroke-dasharray: 104;
  stroke-dashoffset: 104;
  animation: line-anim 2s ease forwards;
}
.logo-anim path:nth-child(20) {
  stroke-dasharray: 47;
  stroke-dashoffset: 47;
  animation: line-anim 2s ease forwards 0.3s;
}
.logo-anim path:nth-child(19) {
  stroke-dasharray: 257;
  stroke-dashoffset: 257;
  animation: line-anim 2s ease forwards 0.6s;
}
.logo-anim path:nth-child(18) {
  stroke-dasharray: 167;
  stroke-dashoffset: 167;
  animation: line-anim 2s ease forwards 0.9s;
}
.logo-anim path:nth-child(17) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-anim 2s ease forwards 1.2s;
}
.logo-anim path:nth-child(16) {
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  animation: line-anim 2s ease forwards 1.5s;
}
.logo-anim path:nth-child(15) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-anim 2s ease forwards 1.8s;
}
.logo-anim path:nth-child(14) {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  animation: line-anim 2s ease forwards 2.1s;
}
.logo-anim path:nth-child(13) {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  animation: line-anim 2s ease forwards 2.4s;
}
.logo-anim path:nth-child(12) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  animation: line-anim 2s ease forwards 2.7s;
}
.logo-anim path:nth-child(11) {
  stroke-dasharray: 204;
  stroke-dashoffset: 204;
  animation: line-anim 2s ease forwards 3s;
}
.logo-anim path:nth-child(10) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-anim 2s ease forwards 3.3s;
}

.logo-anim path:nth-child(9) {
  stroke-dasharray: 109;
  stroke-dashoffset: 109;
  animation: line-anim 2s ease forwards 3.6s;
}
.logo-anim path:nth-child(8) {
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
  animation: line-anim 2s ease forwards 3.9s;
}
.logo-anim path:nth-child(7) {
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
  animation: line-anim 2s ease forwards 4.2s;
}
.logo-anim path:nth-child(6) {
  stroke-dasharray: 183;
  stroke-dashoffset: 183;
  animation: line-anim 2s ease forwards 4.5s;
}
.logo-anim path:nth-child(5) {
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  animation: line-anim 2s ease forwards 4.8s;
}
.logo-anim path:nth-child(4) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  animation: line-anim 2s ease forwards 5.1s;
}
.logo-anim path:nth-child(3) {
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
  animation: line-anim 2s ease forwards 5.4s;
}
.logo-anim path:nth-child(2) {
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
  animation: line-anim 2s ease forwards 5.7s;
}
.logo-anim path:nth-child(1) {
  stroke-dasharray: 204;
  stroke-dashoffset: 204;
  animation: line-anim 2s ease forwards 6s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    color: #1c7ed6;
  }
}

.heading-primary.hero-heading {
  text-align: center;
  animation: fill 0.5s ease forwards 7s;
}

.hero-subheading {
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.github-img {
  width: 3.2rem;
  height: 3.2rem;
}

.hero-text {
  margin-bottom: 4rem;
}

.tech-stack {
  display: flex;
  gap: 6.8rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
}

.tech-stack--img {
  height: 8rem;
  width: 8rem;
  transition: all 0.3s;
  background-color: #f1f3f5;
  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2); */
  padding: 1.5rem;
  border-radius: 1.1rem;
}

.tech-stack--img:first-child {
  box-shadow: 0 2rem 3rem 0 rgba(255, 87, 36, 0.4);
}

.tech-stack--img:nth-child(2) {
  box-shadow: 0 20px 30px 0 rgba(33, 151, 247, 0.4);
}

.tech-stack--img:nth-child(3) {
  box-shadow: 0 20px 30px 0 rgba(255, 220, 82, 0.8);
}

.tech-stack--img:nth-child(4) {
  box-shadow: 0 20px 30px 0 rgba(38, 171, 120, 0.4);
}

.tech-stack--img:nth-child(5) {
  box-shadow: 0 20px 30px 0 rgba(142, 208, 215, 0.9);
}

.tech-stack--img:nth-child(6) {
  box-shadow: 0 20px 30px 0 rgba(240, 79, 51, 0.4);
}

.tech-stack--img:hover {
  transform: translateY(-7px);
}

.btn-div {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.btn.btn--projects {
  background-color: #1c7ed6;
  color: #fff;
}

.btn.btn--projects:hover,
.btn.btn--projects:active {
  background-color: #ffd700;
  color: #1c7ed6;
}

.btn.btn--abtme {
  color: #555;
  box-shadow: inset 0 0 0 3px #d0ebff;
}

.btn.btn--abtme:hover,
.btn.btn--abtme:active {
  background-color: #d0ebff;
}

/* ********************************** */
/* ABOUT ME  */
/* ********************************** */

.section-about {
  padding: 9.6rem 0;
}

.about-div {
  background-color: #a2d0f9;
  padding: 4.8rem 4.8rem;
  border-radius: 3rem;
}

.about-me--img {
  height: 40rem;
  border-radius: 1.1rem;
}

.about-me--text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 4.8rem;
  color: #4f4f50;
}

.about-text .heading-secondary {
  /* color: #fff; */
}

/* Mobile Navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.hidden-btn {
  display: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ********************************** */
/* sKILLS SECTION  */
/* ********************************** */

.section-skills {
  padding: 9.6rem 9.6rem;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.6rem;
  /* margin-bottom: 12.8rem; */
}

.skill-card {
  /* background-color: #f3d9fa; */
  border-radius: 1.1rem;
  overflow: hidden;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.card--frontend {
  box-shadow: 0 20px 30px 0 rgba(244, 219, 250, 0.9);
}

.card--design {
  box-shadow: 0 20px 30px 0 rgba(199, 246, 250, 0.9);
}

.card--deploy {
  box-shadow: 0 20px 30px 0 rgba(255, 243, 189, 0.8);
}

.skill-card:hover {
  transform: translateY(-13px);
}

.card-icon-container {
  padding: 6.4rem 3.2rem 3.2rem;
}
.code-background {
  background-color: #f3d9fa;
}

.brush-background {
  background-color: #c5f6fa;
}

.rocket-background {
  /* background-color: #d8f5a2; */
  background-color: #fff3bf;
}

.card-main-body {
  padding: 6.4rem 3.2rem;
  background-color: #fff;
}

figure span {
  display: flex;
  align-items: center;
}

.card-icon {
  font-size: 4.8rem;
  color: #1c7ed6;
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 50%;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.card-subheading {
  font-size: 2.9rem;
  text-align: center;
  font-weight: 600;
  color: #114c80;
  margin-bottom: 2rem;
}

.card-text {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 4.8rem;
  text-align: center;
}

.card-subheading--sm {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #1c7ed6;
  text-align: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style: none;
  text-align: center;
  margin-bottom: 4.8rem;
}

.card-list--item {
  font-size: 1.8rem;
}

.tools {
  font-size: 1.8rem;
  text-align: center;
}

.card--deploy {
  grid-column: 3 / 4;
}

/* ********************************** */
/* PROJECTS SECTION  */
/* ********************************** */

.section-projects {
  padding: 9.6rem 0;
  /* background-color: #ffe8cc; */
  background-color: #e8f2fb;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2.4rem;
  padding: 4.8rem 4.8rem;
  margin-bottom: 9.6rem;
  background-color: #fff;
  /* background-color: #0e3f6b; */
}

.project-img {
  height: 35rem;
  border-radius: 1.1rem;
}

.project-subheading {
  font-size: 4.4rem;
  font-weight: 600;
  color: #0e3f6b;
  margin-bottom: 4.8rem;
}

.project-desc {
  font-size: 2.4rem;
  margin-bottom: 2.8rem;
}

.project-languages {
  display: flex;
  gap: 2.4rem;
  font-size: 1.3rem;
  margin-bottom: 4.8rem;
}

.project-lang {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.lang--html {
  background-color: #ff5722;
}

.lang--css {
  background-color: #2299f8;
}

.lang--python {
  background-color: #de9d28;
}

.btn.btn--demo {
  background-color: #1c7ed6;
  margin-right: 2.4rem;
  /* padding: ; */
}

.btn--demo-1:hover {
  background-color: #e67e22;
}

.btn--demo-2:hover {
  background-color: #fbddfd;
  color: #555;
}

.btn--demo-3:hover {
  background-color: #0ed012;
}

/* ***************************** */
/* CONTACT ME SECTION */
/* ***************************** */

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta-subheading {
  margin-bottom: 9.6rem;
}

.cta {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  overflow: hidden;
  background-image: linear-gradient(to right bottom, #4998de, #1c7ed6);
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(73, 152, 222, 0.35),
      rgba(28, 126, 214, 0.35)
    ),
    url("../img/laptopontable.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.8rem 6.4rem;
  color: #082640;
}

.cta-text {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
  line-height: 1.8;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  box-sizing: border-box;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 9px;
  font-family: inherit;
  color: inherit;
  background-color: #d2e5f7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  font-family: inherit;
  background-color: #030d15;
  color: #d2e5f7;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(186, 215, 242, 0.5);
}

/* ************************************* */
/* FOOTER */
/* ************************************* */

.footer {
  padding: 4.8rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-text {
  color: #555;
  font-size: 1.6rem;
}

.foot-img {
  height: 3.6rem;
  width: 3.6rem;
}
